body {
  background-color: #555;
  margin: 0;
}
.box {
  background-color: red;
  height: 300px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 200px;
  border-radius: 10px;
  border: 3px solid white;
}
a {
  padding: 30px;
  color: blue;
  border: 3px solid chartreuse;
  border-radius: 20%;
  margin: 2px;
  text-decoration: none;
}
